body{
    background:white;
    padding:0;
    margin:0;
}

.slidearea{
    background:white;
    padding:0;
    text-align: center;
}
.slidearea h4{
    background:linear-gradient(to right,#A0534C,transparent,#A0534C);
    padding:20px 0;
    text-align: center;
    bottom:0;
    font:bold 60px sans-serif;
    font-family:'Niconne', 'cursive';
    text-shadow:-3px 3px 1px black;
}
.lawnarea{
    background:white;
    padding: 50px 0;
    text-align: center;
}
.lawnarea img{
    width:100%;
}
.lawnarea h2{
    font: bold 45px italic;
}
.lawnarea p{
    text-align: justify;
    padding:20px 0;
    font-size:18px;
    
}
.lightarea{
    background:white;
    padding:50px 0;
    text-align: center;
}
.lightarea img{
    width:100%;

}
.lightarea p{
    text-align:justify;
    padding:20px 0;
    font-size:18px;
}
.lightarea h2{
    font: bold 45px italic;
}
.breakfast_area{
    background:white;
    padding:50px 0;
    text-align: center;
}
.breakfast_area img{
    width:100%;
}
.breakfast_area p{
    text-align: justify;
    padding: 20px 0;
    font-size:18px;
}
.breakfast_area h2{
    font: bold 45px italic;
}
.imagesection{
    background:white;
    padding:50px 0;
    text-align: center;
}
.imagesection img{
    width: 100%;
}
