body {
    background: pink;
    margin: 0;
    padding: 0;
}

.slidearea {
    background: white;
    padding: 0;
    text-align: center;

}

.slidearea img {
    opacity: 0.8;
    z-index: -1500px;
}


.slidearea h4{
    background:linear-gradient(to right ,#A0534C,#d77971,#A0534C); 
    background:linear-gradient(to right,#A0534C,transparent,#A0534C);
    padding:20px 0;
    text-align: center;
    bottom:0;
    color:white;
    font:bold 45px sans-serif;
    font-family:'Niconne', 'cursive';
    text-shadow:-3px 3px 1px black;
 }
.text {
    padding: 0 170px;
}

.details {
    position: absolute;
    color: white;
    bottom: 150px;
    padding: 50px;
    text-align: center;
    background: linear-gradient(to right, #A0534C, transparent, #A0534C);
    font: bold 45px sans-serif;
    font-family: 'Niconne', 'cursive';
    text-shadow: -3px 3px 1px black;

}


.reception {
    background: white;
    padding: 50px 0;
    text-align: right;
}

.reception img {
    width: 100%;
}

.reception button {
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    text-align: right;
    border-radius: 10px;
    background: #a4632e;
    color: white;

}

.reception button:hover {
    background: green;
    /* text-decoration: underline; */
    color: white;
    /* text-align: center; */


}

.reception p {
    text-align: justify;
}

.reception h1 {
    text-align: center;
    padding: 20px 0;
}

.boxarea {
    background: white;
    padding: 50px 0;
    text-align: center;

}

.imagebox {
    overflow: hidden;
    opacity: 0.8;
    border: solid 1px #a4632e;
}

.imagebox img:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    transition: all 5s;

}

.imagebox img {
    width: 100%;

}

.textbox {
    padding: 50px 0;

}

.textbox h4 {
    text-align: center;
}

.buttonsection button {
    
    padding: 10px 25px;
    text-align: right;
    background: white;
    color: black;
    border: none;
    text-decoration: underline;
}

.buttonsection button:hover {
    background: #a4632e;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.textbox p {
    text-align: justify;

}

.dining {
    background: white;
    padding: 50px 0;
    text-align: right;
}

.dining img {
    width: 100%;
    padding: 20px 0;
}

.dining h1 {
    padding: 20px 0;
    text-align: center;
}

.dining p {
    text-align: justify;
}

.dining button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background: #a4632e;
    padding: 10px 20px;
}

.dining button:hover {
    background: green;
    /* text-decoration: underline; */
    color: white;
    /* text-align: center; */

}

.darea {
    background: url(sunset_plaza.jpg);
    text-align: center;
    padding: 180px 0;

}

.details1 {
    position: absolute;
    bottom: -500px;
    text-align: justify;
    width: 100%;
    /* background: linear-gradient(to top,#A0534C , transparent); */
    padding: 10px 50px;
    color: white;
    font: 20px arial;
    transition: all 1s;
    text-shadow: -3px 3px 6px black;
}

.hbox {
    position: relative;
    overflow: hidden;
}

.hbox h2 {
    color: white;
    text-shadow: -3px 3px 6px black;
}

.hbox:hover .details1 {
    bottom: 0;
}

.box img {

    width: 100%;
}

.sparea {
    background: white;
    padding: 50px 0;
    text-align: right;
}

.sparea h1 {
    text-align: center;
    padding: 50px 0;
}

.sparea p {
    text-align: justify;

}

.sparea img {
    padding: 50px 0;
    width: 100%;
}

.sparea button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background: #a4632e;
}

.sparea button:hover {
    background: green;
    /* text-decoration: underline; */

}

/* .colorful{
    background:rgb(114, 114, 211);
    
}
.hoverbox .textbox{
    display:none;
    
}
.hoverbox:hover .textbox{
    display:block;
} */